.main {
    text-align: center;
    padding: 2rem;
  }
  
  .headlineLogo {
    vertical-align: middle;
  }
  
  .headlineText {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .row {
    justify-content: center;
    align-items: center;
  }
  